<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154868014957-t8hmptd637a2ujeg4mbadumovvkco27k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154868014957-t8hmptd637a2ujeg4mbadumovvkco27k</string>
	<key>API_KEY</key>
	<string>AIzaSyA68Wvf6KrLtKESFNo_q70vM4PrmzEKY4I</string>
	<key>GCM_SENDER_ID</key>
	<string>154868014957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-22f5d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-22f5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154868014957:ios:ab6c036b1c5b8c06978464</string>
</dict>
</plist>